.main-tabs {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #111;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  color: white;
}

.main-tabs a {
  text-decoration: none;
  color: #aaa;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
}

.main-tabs a.active {
  color: #fff;
}
