.progress-bar {
  width: 80%;
  height: 4px;
  background-color: #333;
  border-radius: 3px;
  margin: 20px auto;
  cursor: pointer;
}

.progress {
  height: 100%;
  background-color: #1db954;
  border-radius: 3px;
  transition: width 0.2s linear;
}
