.mobile-layout .content {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
}

.desktop-layout .content {
  padding: 20px;
}

.desktop-layout {
  font-family: 'Poppins', sans-serif;
}
.mobile-layout {
  font-family: 'Poppins', sans-serif;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-5px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-fadeIn {
  animation: fadeIn 0.8s ease-in-out;
}
